body {
    background-attachment: lightgreen;
}
.container {
    box-sizing: box-sizing;
    border: 3px solid black;
    margin: auto;
    padding: 15;
    display: block;
}
.tittle {
    text-align: justify;
    font-family: Sans-Serif;
    font-size: 35px;
}
input {
    margin: 100px;
    padding: 25px;
    box-sizing: box-sizing;
    border: 2px solid black;
}
button {
    margin: 100px;
    padding: 25px;
    box-sizing: box-sizing;
    border: 2px solid black;
}